@charset "ISO-8859-1";

a{
	color: rgb(0,139,139);
	text-decoration: none;
}

a:hover{
	color:white;
}

.btn-primary {
	background: rgb(0,139,139);
	border: 1px solid transparent;
	color: white;
}

.btn-primary:hover {
	background: white;
	border: 1px solid rgb(0,139,139);
	color: rgb(0,139,139);
}